* {
    margin: 0;
}

body, html{
    height: 100%;
}

.home {
    background: rgb(140, 150, 190);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}


.japanese-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kanji-hiragana {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.kanji {
    font-size: 4vw;
    margin-right: 10px;
}

.hiragana {
    padding-top: 10%;
    font-size: 2vw;

}


.center {
    text-align: center;

}

.container {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: aliceblue; */
}

.parallax {
    background-image: url("image/Arduino_Uno-R4.png");
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.abstract {
    /* background-color: green; */
}

.details {

}